
.carousel {
    display: flex; 
    scroll-snap-type: x mandatory; 
    padding-bottom: 20px; 
    width: 100%; 
}

/* Cache la barre de défilement par défaut pour une meilleure esthétique (sur WebKit/Chrome/Safari) */
.carousel::-webkit-scrollbar {
    height: 8px;
}
.carousel::-webkit-scrollbar-thumb {
    background: var(--dusty-grape);
    border-radius: 10px;
}
.carousel::-webkit-scrollbar-track {
    background: var(--space-indigo);
}


.project-caroussel {
    flex-shrink: 0; 
    width: 400px; /* Taille confortable pour chaque projet */
    max-width: 80vw; /* S'adapte mieux sur les petits écrans */
    margin-right: 20px; /* Marge entre les cartes */
    
    /* Style de la carte */
    background-color: var(--lilac-ash); 
    color: var(--space-indigo); 

    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 

    border-left: none; 
    padding-left: 20px; 

    scroll-snap-align: start;
}

/* Le texte et les dates doivent être réajustés pour la carte */
.project-caroussel h3,
.project-caroussel h2 {
    color: var(--space-indigo); 
    border-bottom: 1px solid rgba(34, 34, 59, 0.1); 
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.project-caroussel .date-range {
    color: var(--dusty-grape); 
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}

.project-caroussel ul {
    list-style-type: disc;
    margin-left: 20px;
    color: var(--space-indigo);
}
