/* --- Listes --- */
ul {
    margin-left: 20px;
    padding-left: 0;
    list-style-type: disc;
}


/* --- Tag Listes (Compétences/Intérêts) --- */
.tag-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
}

.tag-list li {
    background-color: var(--light-gray); /* Fond de tag sombre */
    color: var(--primary-color);
    padding: 8px 12px;
    border-radius: 4px;
    margin: 4px;
    font-size: 0.9em;
    border: 1px solid var(--dusty-grape); /* Bordure subtile */
}
